<h1> Actor # <%= @the_actor.id %> details </h1>

<dl>
  <dt> Name</dt>
  <dd> <%= @the_actor.name %></dt>

  <dt> Dob </dt>
  <dd> <%= @the_actor.dob %> </dt>

  <dt> Bio</dt>
  <dd> <%= @the_actor.bio %>  </dt>


  <dt> Image </dt>
  <dd> 
    <img src="<%= @the_actor.image %> >" width="200">
  </dd>

  

  <dt> Created at </dt>
  <dd> <%= @the_actor.created_at %></dt>

  <dt> Updated at</dt>
  <dd> <%= @the_actor.updated_at %></dt>
<dl>

<hr>

<h1> Filmography </h1>

<table border="1">
  <tr>
    <th> Title </th>
    <th> Year </th>
    <th> Director</th>
    <th> Character name </th>
    <th> </th>
  </tr>

  <% matching_characters = Character.where({ :actor_id => @the_actor.id }) %>
  <% matching_characters.all.each do |character| %>
  <tr>
      <td> 
        <% matching_movies = Movie.where({ :id => character.movie_id}) %>
        <% movie_object = matching_movies.first %>
        <%= movie_name = movie_object.title %>
      </td>
      <td>  <%= movie_object.year %> </td>

      <td> 
        <% matching_directors = Director.where({ :id => movie_object.director_id })%>
        <% director_object = matching_directors.first %>

        <%= director_name = director_object.name %>

      </td>
      <td>
        <%= character.name %>
      </td>
      <td> 
        <a href="/movies/<%= movie_object.id %>">Show details </a>
      </td>
    </tr>
  <% end %>
</table>
