<h1> Actor # <%= @the_actor.id %> details </h1>

<dl>
  <dt> Name</dt>
  <dd> <%= @the_actor.name %></dt>

  <dt> Dob </dt>
  <dd> <%= @the_actor.dob %> </dt>

  <dt> Bio</dt>
  <dd> <%= @the_actor.bio %>  </dt>


  <dt> Image </dt>
  <dd> 
    <img src="<%= @the_actor.image %> >" width="200">
  </dd>

  

  <dt> Created at </dt>
  <dd> <%= @the_actor.created_at %></dt>

  <dt> Updated at</dt>
  <dd> <%= @the_actor.updated_at %></dt>
<dl>

<hr>

<h1> Filmography </h1>


